.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#view-highscores {
    float: left;
}

#time-counter {
    float: right;
}

main {
    text-align: center;;
}

#question {
    font-size: 30px;
    font-weight: bold;
}

.hide {
    display: none;
}

#answers {
    display: grid;
    grid-template-columns: repeat (1, auto);
    gap: 10px;
    margin: 20px 0;
}

.button {
    background-color: purple;
    color: whitesmoke;
    border: 2px solid purple;
}

.button:hover {
    border-color: black;
}
